body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
}

th {
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

td {
  padding: 5px;
}

.time {
  height: 20px;
}

.event {
  width: auto;
  align-content: center;
}

.pink {
  background: pink;
}

.blue {
  background: rgb(190, 219, 229);
}

.green {
  background: rgb(202, 245, 222);
} 

.yellow {
  background: yellow;
}

.purple {
  background: purple;
}

.orange {
  background: orange;
}

.orchid {
  background: orchid;
}

.white {
  background-color: white;
}

.event h5 {
  padding: 0.5rem 0;
  margin: 0;
}

.event h6 {
  padding: 0 0 0.5rem 0;
  margin: 0;
}